doctype html
html(lang="fr",ng-app="myAPP")
  head
    link(rel="stylesheet", href="/css/fix.css",type="text/css")
    link(rel="stylesheet", href="/css/index.css",type="text/css")
    link(rel="stylesheet", href="/css/angular.css",type="text/css")
    link(rel="stylesheet", href="/lib/animate.css",type="text/css")
    link(rel="stylesheet", href="/lib/loading-bar.css",type="text/css")
    link(rel="stylesheet", href="/lib/roboto.css",type="text/css")
    link(rel="stylesheet", href="/lib/angular-carousel.css",type="text/css")
    base(href="/")
    title
        | Site vitrine
body(ng-controller="MainController as main")
    ul.cb-slideshow
        li
            span Image 01
            div
              h3 Paris
        li
            span Image 02
            div
                h3 Shangai
        li
            span Image 03
            div
                h3 Dublin  
        li
            span Image 04
            div
                h3 New-york
        li
            span Image 05
            div
                h3 London
          
    #container
        h1 {{title}}
        form
            select(name="select", ng-model="lang")
                option(value="anglais") English
                option(value="francais") Français
                option(value="chinoi") Tchong

    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-touch.min.js")
    script(src="/lib/angular-carousel.js")
    script(src='/js/loading-bar.js')
    script(src='/js/main.js')
