body, html div, table, tr ,td, img, ul, li, p, span, b, input, textarea, select, fieldset, legend, iframe, h1, h2 ,h3 ,h4, h5, h6, a {
  padding: 0;
  margin: 0;
}

* {
    box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

img, iframe {
  vertical-align: top;
  border: 0;
}

input, textarea, select {
  outline: none;
  border: none;
}

body, html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  position: relative;
  font-family: 'BebasNeueRegular';
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/fonts/BebasNeue-webfont.eot');
    src: url('/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
